.Banner {
  background: var(--brand-blue-pelorous);
  position: relative;
}
.Banner--inner {
  color: #fff;
  padding: 1em 0.5em;
  text-align: center;
}
.Banner__title {
  font-size: 32px;
  padding: 0 0.5em;
}
.Banner__author {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .Banner--inner {
    padding: 1em 5%;
  }
  .Banner__title {
    padding: 0 15%;
  }
}


@media screen and (min-width: 1024px) {
  .Banner--inner {
    padding: 1em 10%;
  }
}
