/* HEADER WRAPPER */
.StickyWrapper {
  background-color: var(--brand-blue-regal);
  position: relative;
  height: auto;
  z-index: 100;
}
.Sticky {
  -webkit-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
  position: sticky;
  top: 0;
}

/* NAVIGATION */
.Navigation {
  align-items: center;
  margin: 0 auto;
  z-index: 999999999;
}

.Nav-list {
  margin: 0;
  padding: 0;
}
.Nav-list__item {
  display: block;
  padding: 15px 5px;
  margin: 0 5px;
  position: relative;
  border-bottom: 1px solid var(--brand-blue-pelorous);
}

.Nav-list__link {
  color: var(--brand-blue-pelorous);
  display: inline-block;
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
}
.Nav-list__link:after {
  content: "";
  display: inline-block;
  background: url('./images/chevron-blue.png') no-repeat center/35%;
  width: 15px;
  height: 15px;
  margin: 7px 8px;
  position: absolute;
}

.Nav-list__link--subtext {
  font-weight: normal;
  font-size: 15px;
  margin: 0 2px;
}
.Nav-list__active {
  color: var(--brand-blue-regal);
  transition: border-bottom .5s ease-in-out;
}
.Nav-list__active:after {
  background: url('./images/chevron.png') no-repeat center/35%;
  width: 15px;
  height: 15px;
  margin: 7px 8px;
  position: absolute;
}

@media screen and (min-width: 768px) {
  .Navigation {
    padding: 5em 5%;
  }
  .Navigation:after {
    background: url('./images/momconnect-image-2.png') no-repeat 3.5em bottom/35%;
    opacity: 0.6;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 500px;
    width: 100%;
    z-index: -999999;
  }
  .Nav-list__item {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .Navigation {
    padding: 5em 10% 1em;
  }
}
