.search-wrapper {
  position: relative;
}

.search-submit {
  left: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  padding: 0;
  border: 0;
  background-color: var(--brand-blue-pelorous);
  background-image: url(./images/search.png);
  background-repeat: no-repeat;
  background-size: 20px;
  width: auto;
  height: 35px;
  transition: width 0.5s ease;
}

.search-submit span {
  color: #fff;
  font-size: 14px;
}
input[type="search"] {
  border: none;
  border-radius: 20px;
  font-size: 16px;
  height: 43.5px;
  outline: none;

  transition: padding 0.5s ease;
  width: 100%;
}
