.search-wrapper {
  position: relative;
}
.search-form {
  position: relative;
}
.search-input {
  background-color: var(--brand-blue-spindle);
}
.search-submit {
  left: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  padding: 0;
  border: 0;
  /*background-color: var(--brand-blue-pelorous);*/
  background-image: url(./images/search.png);
  background-repeat: no-repeat;
  background-size: 20px;
  width: auto;
  height: 35px;
  transition: width 0.5s ease;
}

.search-label {
  color: #000;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  z-index: 9999999;

  position: absolute;
  width: 100px;
  left: 35px;
  top: 10px;
}

.search-label:after {
  content: ' .';
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
  0%, 20% {
    color: var(--brand-blue-pelorous);
    text-shadow:
      .25em 0 0 var(--brand-blue-pelorous),
      .5em 0 0 var(--brand-blue-pelorous);
    }
  40% {
    color: #000;
    text-shadow:
      .25em 0 0 var(--brand-blue-pelorous),
      .5em 0 0 var(--brand-blue-pelorous);
    }
  60% {
    text-shadow:
      .25em 0 0 #000,
      .5em 0 0 var(--brand-blue-pelorous);
    }
  80%, 100% {
    text-shadow:
      .25em 0 0 #000,
      .5em 0 0 #000;
    }
  }
input[type="search"] {
  border: none;
  border-radius: 20px;
  font-size: 16px;
  height: 43.5px;
  outline: none;

  transition: padding 0.5s ease;
  width: 100%;
}
