:root {
  --brand-blue-regal: #213d55;
  --brand-blue-tranquil: #dae8eb;
  --brand-blue-spindle: #c0d6dd;
  --brand-blue-pelorous: #2d9ec5;
  --brand-orange-bittersweet: #ff6655;
  --greyscale-grey: #666666;
  --greyscale-grey-lightSlate: #7e93a0;
  --greyscale-grey-nero: #232323;
  --secondary-error: #ff2929;
  --secondary-blue-turquoise: #20b2aa;
  --secondary-blue-darkPalette: #112A40;
}

/* #f4f4f4 */

/* GENERAL RESET */
html, body {
  background-color: var(--brand-blue-regal);
  height: 100%;
}
body {
  background-color: var(--brand-blue-regal);
  color: var(--brand-blue-regal);
  line-height: 1.5;
  font-size: 16px;
  font-family: 'Roboto','Helvetica Neue', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}


h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  display: block;
}

ul, ol, li {
  margin: 0;
  padding: 0;
}


/* FORM RESET */
form {
  overflow: auto;
}
fieldset {
  border: none;
  margin: 0;
  padding: 1em 0;
}


/* BODY */
#root {
  position: relative;
  height: 100%;
}

.Logo {
  max-width: 125px;
}
