.Media-banner {
  overflow: hidden;
  width: 100%;
}
.Media-banner--inner {
  overflow: hidden;
}
.Media-banner__video {
  background-color: var(--greyscale-grey-lightSlate);
  width: 100%;
}

@media screen and (min-width: 768px) {
  .Media-banner {
    height: 355px;
  }
  .Media-banner--inner {
    height: 420px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}