.Header {
  padding: 0.5em;
  width: 100%;
}
.Header-list {
  overflow: auto;
}
.Header-list__item {
  margin: 0 0 1em;
}
.Header-list__item--search {
  display: inline-block;
  margin: 0 10px 0 0;
  width: 100%;
}

/* RESPONSIVE */
@media screen and (min-width: 768px) {
  .Header {
    padding: 1em;
    z-index: 99999;
    position: relative;
  }
  .Header-list__item--search {
    width: 900px;
  }
}

@media screen and (min-width: 992px) {}
@media screen and (min-width: 1024px) {
  .Header-list {
    align-content: center;
    align-items: center;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    flex-direction: column;
  }
}
@media screen and (min-width: 1280px) {}
@media screen and (min-width: 1366px) {}
@media screen and (min-width: 1440px) {}
@media screen and (min-width: 1600px) {}
@media screen and (min-width: 1920px) {}
