.Header {
  background: #fff;
  padding: 0.5em;
}
.Header-list {
  overflow: auto;
}
.Header-list__item--search {
  display: inline-block;
  margin: 0 10px 0 0;
  width: 75%;
}
.Header-list__item--subscribe {
  display: inline-block;
  width: auto;
}
.subscribe-btn {
  background-color: var(--brand-blue-pelorous);
  border-radius: 50%;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  font-weight: normal;
  height: 55px;
  padding: 5px;
  width: 55px;
  overflow: hidden;
}
.subscribe-btn:hover {
  opacity: 0.5;
}

.subscribe-btn::before {
  background: url('./images/wa.png') no-repeat center/ 100%;
  content: "";
  display: block;
  height: 55px;
}

.search-input {
  background-color: var(--brand-blue-spindle);
}

/* RESPONSIVE */
@media screen and (min-width: 768px) {
  .Header {
    padding: 1em 5% 5px;
    z-index: 99999;
    position: relative;
  }
  .Header-list__item--search {
    width: 70%;
  }
  .Header-list__item--subscribe {
    margin: 0;
  }
}

@media screen and (min-width: 992px) {}
@media screen and (min-width: 1024px) {
  .Header-list {
    align-content: center;
    align-items: center;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1280px) {}
@media screen and (min-width: 1366px) {}
@media screen and (min-width: 1440px) {}
@media screen and (min-width: 1600px) {}
@media screen and (min-width: 1920px) {}
